@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF8F4;
  --foreground: #1C232C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C232C;
    --foreground: #FAF8F4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
